
[Unit]
Description=Siemens real-time DICOM export listener
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/usr/bin/env python3  /home/rtadmin/RTafni/src/dmv_mri_s-watch/scanner_watcher_libs_and_apps/Siemens/bin/dicom_export_listener.py -h 10.0.144.50 -p 8111

[Install]
WantedBy=multi-user.target

